.character-roll-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1000px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}

.page-buttons {
    margin-top: 25px;
}

.scroll-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #0f123f;
    color: #95c54b;
    border: 1px solid #95c54b;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.scroll-button:disabled {

    background-color: rgba(15, 18, 63, .5);
    color: rgba(149, 197, 75, .4);

}
.loading-container {
    height: 70vh;
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rm-load {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;;
    color: white;
    font-size: 30px;
    text-align: center;
}

.wait {
  margin-top: 80px;
  font-size: 20px;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 40px 0px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #faf492 transparent #8fc83d transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
