.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../img/bg.jpg');
    background-size:auto;
    background-repeat: none;
    background-position: center;
    padding-bottom: 100px;
}
